@import "bootstrap";

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
  /* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100 % ;
  margin-top:45px;
  @include box_sizing;
}